<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>TrackIT Attendance System</title>
    <link rel="stylesheet" href="css/admin.css" />
    <link rel="stylesheet" href="css/navCSS.css" />
  </head>
  <body>
    <div id="bgImg"></div>

    <div class="nav">
      <a href="/"> <img src="images/logo.png" alt="logo" /> </a>
      <a href=""> <h2>Admin Panel</h2> </a>
    </div>
    <div id="regAdmin"> {{name}} </div>
    <div id="msg"> {{msg}} </div>

    <div class="container">
      <form id="openCam" action="/startAttendance" method="post">
        <a href="#"><div id="webcam"><img
              src="images/webcam.gif"
              alt=""
            /></div></a>
      </form>

      <a href="/attendance"><div id="attendance"><img
            src="images/track.gif"
            alt=""
          /></div></a>
    </div>

    <script src="js/admin.js"></script>
  </body>
</html>