<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>TrackIT Attendance System</title>
    <link rel="stylesheet" href="css/adminSheet.css" />
    <link rel="stylesheet" href="css/navCSS.css" />
  </head>
  <body>

    <div class="nav">
      <a href="/"> <img src="images/logo.png" alt="logo" /> </a>
      <a href=""> <h2>Admin Panel</h2> </a>
    </div>
    <div id="regAdmin"> {{name}} </div>

    <div id="blank"></div>

    <div class="container">
      <table>
        <thead>
          <tr>
            <th>Date</th>
            <th>140001</th>
            <th>140002</th>
            <th>140003</th>
            <th>140004</th>
            <th>140005</th>
          </tr>
        </thead>
        <tbody>
          {{#each statusList}}
            <tr>
              <td>{{date}}</td>
              <td>{{140001}}</td>
              <td>{{140002}}</td>
              <td>{{140003}}</td>
              <td>{{140004}}</td>
              <td>{{140005}}</td>
            </tr>
          {{/each}}
        </tbody>
      </table>
    </div>
    <script src="js/adminSheet.js"></script>
  </body>
</html>